body {
    margin: 0;
}
.text-field {
    padding: 10px;
}
.btn-form {
    padding: 20px;
    text-align: center;
}

.app-bar {
    align-content: center
}

.form-component {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select-field > div {
    min-width: 200px;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

.table-container {
    max-width: 500px;
    margin: 0 auto;
    
}

.table-body {
    max-height: 500px;
    overflow: auto;
}

.error {
    width: 400px;
    align-content: center;
    margin: 5px auto;
    text-align: left;
}

.error > div {
    background-color: #d32f2f;
    padding: 6px;
}

.error p {
    display: block;
    margin-top: 4px;
    padding: 6px;
    color: white;
}

.error svg {
    float: left;
    display: block;
    color: white;
    margin: 6px;
}

.loading {
    margin: 0 auto;
    text-align: center;
}